body
{ 
  background-color:#EAE8EF;
  font-family: verdana;

}
.navbaricons
{
  width:2.5%;
  margin-bottom: 13px;
  
  padding: 7px;
  border-radius: 10px;
}
.navbaricons:hover
{ transform: scale(1.1);
}
a
{
  text-decoration: none;
}
.description
{
  color: black;
  font-size: 12px;
  margin-left: 7%;
  padding-right: 5%;
  margin-right: 10%;
  
  font-weight: lighter;
  line-height: 200%;
}
.button
{
  padding: 17px;
  font-size: 14px;
  border-radius: 30px;
  color: white;
  background-color: #8273B1;
  margin-left:7%;
}
.button:hover
{
 background-color: white;
  border-color: rgba(0,0,0,0);
  color: black;

}
::-webkit-scrollbar {
  width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
background:#d1d1d1;
border-radius: 10px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
background:#b2b1b5;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#636f87; 
}