.header-content-1 {
    font-family: 'Monument Extended', sans-serif;
    font-size: 20px;
}

.header {
    padding: 20px;
    font-family: adobe-handwriting-ernie, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
   
}


.about {
    text-align: right;
    font-family: "Bell MT";
    font-size: 30px;
    padding-right: 40px;
}