
.timeline {
    width: 1250px;
    align-items: center;
    padding-left: 100px;
    font-family: "Bell MT";  
    color: #303030;
    font-size: 25px;
    line-height: 35px;
    font-weight: normal;
    text-align: left;
}

.ui-img-ter {
   
    width: 98.9vw;
    height: auto;
    position: relative;
    z-index: 5;

}

.title-ter {
    font-family: bely-display, sans-serif;
    line-height: 90px;
    width: 1000px;
    padding-top: 200px;
    padding-left: 200px;
    color: white;
    font-size: 70px;
    position: absolute;
    z-index: 6;
}

.sub-title-ter {
    font-size: 30px;
    color: white;
    padding-left: 200px;
    padding-top: 500px;
    letter-spacing: 1px;
    font-weight: normal;
    position: absolute;
    z-index: 6;
}
.sub-title-ter:hover {
    color: white;
}

.sub-heading-ter {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 60px;
    text-align: left;
    width: 850px;
    justify-content:'center';
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;   
      
}


.content-ter {
 
    justify-content:'center';
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 35px;
    font-weight: lighter;
    width: 850px;
    text-align: left;
    padding-bottom: 50px;   
}

.content-ter-timeline {
 
    width: 1000px;
    padding-right: 300px;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    padding-bottom: 10px;
     
}

.card-content-wrapper {
    border-radius: 20px;
}

.sub-sub-heading-ter {
    text-align: left;
    font-size: 25px;
    letter-spacing: -1px;
    padding-bottom: 10px;
    line-height: 30px;
    color: black;
}


.ant-image-mask-info {
    visibility: hidden;
}

.ant-image-preview-wrap {
    background-color: black;
}

.image {
    padding: 10px;
    padding-left: 0px;
}

.mark {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(30, 255, 0, 0.1),
      rgba(51, 255, 0, 0.7) 4%,
      rgba(94, 255, 0, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

  .timeline-item-title.css-zwcj87-TitleWrapper.ergoa4r0 {
      font-size: 20px;
      background-color: #F3E1BD;
      padding: 10px;
      
  }

  .css-1vv42pc-Circle:not(.using-icon).active::after 
   {
    background: #F3E1BD !important;
}

.css-1of8c63-TimelineItemContentWrapper {
    filter: none !important;
    -webkit-filter: none;
}

.css-vhsxso-VerticalCircleWrapper::after {
    background-color: #2C2C2C !important;
    width: 2px !important;
}



