.body-ter {
    text-align: center;
    transform: translateY(-150px);
    font-family: Graphik,sans-serif;
    
}

.ui-img-ter {
   
    width: 1266px;
    height: auto;
    z-index: 1;
    transform: scale(1.2);
}

.title-ter {
    font-size: 60px;
    color: white;
    font-weight: bold;
    line-height:70px; 
    padding-top: 10px;
    transform: translateY(-500px);
    z-index: 2;   
}

.sub-title-ter {
    font-size: 30px;
    color: white;
    letter-spacing: 1px;
    font-weight: normal;
    padding-top: 10px;
    transform: translateY(-500px);
    z-index: 2;   
}

.sub-heading-ter {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 60px;
    text-align: left;
    width: 850px;
    justify-content:'center';
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;   
      
}


.content-ter {
 
    justify-content:'center';
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 35px;
    font-weight: lighter;
    width: 850px;
    text-align: left;
    padding-bottom: 50px;   
}

.content-ter-timeline {
 
    width: 1000px;
    padding-right: 300px;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    padding-bottom: 10px;
     
}

.card-content-wrapper {
    border-radius: 20px;
}

.sub-sub-heading-ter {
    text-align: left;
    font-size: 25px;
    letter-spacing: -1px;
    padding-bottom: 10px;
    line-height: 30px;
    color: black;
}


.ant-image-mask-info {
    visibility: hidden;
}

.ant-image-preview-wrap {
    background-color: black;
}

.image {
    padding: 10px;
    padding-left: 0px;
}

.mark {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(30, 255, 0, 0.1),
      rgba(51, 255, 0, 0.7) 4%,
      rgba(94, 255, 0, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }




