
.homepage {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
   
}

.header-home {
    font-family: adobe-handwriting-ernie, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
   
}

#projects {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.project-img {
  margin-bottom: 1vw;
}

.projects-text {
  font-size: 18px;
  line-height: 32px;
}

.projects-header
{
  font-size: 25px;
  letter-spacing: -2px;
  font-weight: bold;
}

.project-col
{
  width: 20vw;
  margin-right: 5vw;
}
.project-row-sub {
  margin-bottom: 3vw;
  width: 44vw
}

.project-img-hnf {
  width: 70vw;
  margin-bottom: 1vw;
}

.aboutme-text {
  width: 30vw;
}

.aboutme-img {
  width: 25vw;
  text-align: center;
} 
#aboutme {
  display:flex; 
justify-content:center;
align-items:center;
height:75vh;
}

.aboutme-text {
  padding-left: 5vw;
  font-size: 18px;
  line-height: 32px;
}

.aboutme-socials {
  padding: 10px;
}

.subheading-home {
    font-family: adobe-handwriting-ernie, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    transform: translateY(-20px);
}


.title-text {
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

.body-text-large {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 30px;
    line-height: 150%;
}


  .container {
    position: relative;
    width: 300px;
  }
  
  .image {
    width: 700px;
    height: auto;
    transition: .3s;
  }
  
.socials {
  padding: 3vw;
}


.heading-home {
  font-family: "Bell MT";
    font-size: 50px;
    line-height: 100%;
    text-align: left;
}
  

.go-top {
  font-size: 35px;
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.go-top:hover {
  cursor: pointer;
}

@media  (max-width: 950px) { 
  .projects {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
  }
  .project-img {
     width:85vw;
     margin: 0;
     margin-bottom: 10px;
  }

  .projects-header {
    margin-bottom: 10px;
  }

  .project-text {
    width: 85vw;
    margin-bottom: 50px;
  }

  .project-col {
    width: 90%;
  }

  .project-img-hnf, .project-row-sub, .project-row {
    width: 85vw;
  }

  .aboutme-img {
    width: 100%;
  }

  .aboutme {
    padding-top: 7vw;
    width: 100%;
  }

  .aboutme-text {
    margin-top: 5vw;
  }
}

@media  (min-width: 2500px) {
  .projects-text {
    font-size: 25px;
    line-height: 35px;
  }
  
  .projects-header
  {
    font-size: 35px;
  }
  
}

@media (max-width: 1500px) {

  .aboutme-text {
    width: 50vw;
  }
  
}



  


  