


.homepage {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    background-color: #F6F1EB;

   
    
}

.subheading-home {
    font-family: adobe-handwriting-ernie, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    transform: translateY(-20px);
}


.home-banner
{
    font-family: bely-display;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
}

.projects {
   
   width: 500px;
   border-width: 2px;
   margin-left: 55%;
   padding: 80px 50px;
   color: white;

   
}



.title-text {
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

.ant-row.aboutme {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;

}

.body-text-large {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 30px;
    line-height: 150%;
}


  .container {
    position: relative;
    width: 300px;
  }
  
  .image {
    display: block;
    width: 400px;
    height: auto;
    transition: .3s;
    margin-left: auto;
    margin-right: auto;
  }
  
.socials {
  padding: 50px;
}
  

.button-tabs {
  opacity: 1;
  background-color: #E874EF;
  color: white;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 5px;
  width:fit-content
}

.button-hnf {
  opacity: 1;
  background-color: #FFC40E;
  color: white;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 5px;
  width:fit-content
}

.button-ter {
  opacity: 1;
  background-color: #6CA447;
  color: white;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 5px;
  width:fit-content
}

.button-ux {
  opacity: 1;
  background-color: #FF3F6C;
  color: white;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 5px;
  width:fit-content
}



.section.section2 {
  background-image: url('../../images/home/tabsbg.png');
  text-align: left;
}

.section.section3 {
  background-image: url('../../images/home/hnfbg.png');
  text-align: left;
}

.section.section4 {
  background-image: url('../../images/home/uxbg.png');
  text-align: left;
}

.section.section5 {
  background-image: url('../../images/home/terbg.png');
  text-align: left;
}

.heading-home {
  font-family: "Bell MT";
    font-size: 50px;
    line-height: 100%;
}
  
.image {
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

.go-top {
  font-size: 35px;
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.go-top:hover {
  cursor: pointer;
}

  


  