
.banner, .overview, .problem-statement, .moodboard, .wireframe, .caseStudy, 
.styleguide, .proposedSystem, .ui, .iconDes, .closerLook, .things {
    font-family: "Bell MT";
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    color: #303030;
   
}

.caseStudy {
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    font-family: bely-display, sans-serif;
    font-size: 100px;
    letter-spacing: -2px;
    text-align: center;
    padding-top: 10px;
    
}

.sub-title {
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    letter-spacing: -2px;
    transform: translateY(-30%);
    transition: letter-spacing 2s;
    
}

.header-content {
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 45px;
    text-align: center;
    padding-bottom: 80px;
}

.sub-heading {
    font-family: bely-display, sans-serif;
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
    
}

.divider {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    align-content: center;
    padding-top: 80px;
    padding-bottom: 40px;
    width: 50px;
}

.content {

    font-size: 25px;
    line-height:45px;
    font-weight: normal;
    text-align: left;
}

body:hover .sub-title {
    letter-spacing: 2px;
}



.sub-sub-heading {
    font-family: "Bell MT";
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: -1px;
    line-height: 60px;
    text-align: left;
    
}

/* Problem statement CSS */

.problem-statement{
    background-color: white;
    width: 850px;
}

table {
    border-collapse: collapse;
}

table td, table th {
    border: 0.1px solid #707070;
    width: 250px;
    height: 250px;
}



table tr:first-child th {
    border-top: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}

.ps-heading {
    font-size: 30px;
    text-align: center;
    
}

.ps-content {
    justify-content:'center';

    font-size: 15px;
    line-height: 25px;
    font-weight: lighter;
    width: 950px;
    text-align: left;
 
    padding: 30px; 
}

/*end of Problem Statement */


.caption {
    font-size: 17px;
    color: gray;
    font-style: italic;
    padding-top: 10px;
}


.ui-img {
    object-fit:cover;
    object-position: left;
    width:98.9vw;
    background-color: #FCF8EF;
    height:500px;

}

.sticky {
    font-family: "Bell MT";
    width: 320px;
    font-size: 15px;
    position: -webkit-sticky;
    z-index: -100000000000000000000000000000000000000;
  position: sticky;
  top: 200px; 
  padding: 70px;
}

.ant-divider-inner-text {
    font-size: 25px;
}




