
.body {
    font-family: Graphik,sans-serif;
    justify-content:'center';
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title {
    font-size: 100px;
    font-weight: bolder;
    letter-spacing: -2px;
    text-align: center;
    padding-top: 10px;
    
}

.sub-title {
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    letter-spacing: -2px;
    transform: translateY(-30%);
    transition: letter-spacing 2s;
    
}

.header-content {
    font-size: 37px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 60px;
    text-align: center;
    width: 850px;
    justify-content:'center';
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    
}

.sub-heading {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 60px;
    text-align: left;
    width: 850px;
    justify-content:'center';
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    
}

.content {
    justify-content:'center';
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 35px;
    font-weight: normal;
    width: 850px;
    text-align: left;
    padding-bottom: 50px; 
}

body:hover .sub-title {
    letter-spacing: 2px;
}



.sub-sub-heading {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 60px;
    text-align: left;
    width: 350px;
    
}

/* Problem statement CSS */

.problem-statement{

    padding-top: 30px;

    justify-content:'center';
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
}

table td, table th {
    border: 0.1px solid #707070;
    width: 250px;
    height: 250px;
}



table tr:first-child th {
    border-top: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}

.ps-heading {
    font-size: 25px;
    text-align: center;
    
}

.ps-content {
    justify-content:'center';
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 35px;
    font-weight: lighter;
    width: 950px;
    text-align: left;
    padding-bottom: 50px;
    padding: 20px; 
}

/*end of Problem Statement */



/* User Persona */
.content-persona {
    font-size: 20px;
    text-align: left;
    font-weight: lighter;
    padding: 20px;
    text-align: left;
}

.sub-sub-heading-persona {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    padding-bottom: 10px;
    line-height: 30px;
    color: black;
}
/* End of User Persona */


/*Proposed system style */
.content-prop-sys {
    width: 1200px;
    font-size: 20px;
    text-align: left;
    font-weight: lighter;
    padding: 10px;
    text-align: left;
}
/*end of Proposed system style */


.sub-heading-button {
    font-size: 20px;
    padding: 12px;
    color: white;
    text-align: center;
    background-image: linear-gradient(60deg, #cf00f8, #E449E9);
    border-radius: 5px;
    width: 160px;
    
}

.sub-heading-button:hover {
    cursor: pointer;
}

b {
    font-weight: bold;
}

.caption {
    font-size: 17px;
    color: gray;
    font-style: italic;
    padding-top: 10px;
}

.overview-content {
    font-size: 20px;
    text-align: left;
    font-weight: lighter;
    width: 1200px;
    padding: 50px;
    text-align: left;
}

.overview-body {
    background-color: #F2F2F2;
    margin-top: 50px;
    margin-left: 100px;
}

.ui-img {
    object-fit:cover;
    object-position: left;
    width:1100px;
    background-color: white;
    height:500px;
    transform: scale(1.2);

}

