
/* Problem statement CSS */

.problem-statement{
    background-color: white;
    width: 950px;
}

table {
    border-collapse: collapse;
}

table td, table th {
    border: 0.1px solid #707070;
    width: 250px;
    height: 250px;
}



table tr:first-child th {
    border-top: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}

.ps-heading {
    font-size: 30px;
    text-align: center;
    transform: rotate(90deg);
    
}

.ps-content {
    justify-content:'center';

    font-size: 15px;
    line-height: 25px;
    font-weight: lighter;
    width: 550px;
    text-align: left;
 
    padding: 30px; 
}

/*end of Problem Statement */


.caption {
    font-size: 15px;
    color: gray;
    font-style: italic;
    padding-top: 3px;
}


.ui-img {
    object-fit:cover;
    object-position: left;
    width:98.9vw;
    background-color: #FCF8EF;
    height:500px;

}

.sticky {
    font-family: "Bell MT";
    width: 320px;
    font-size: 15px;
    position: -webkit-sticky;
    z-index: -100000000000000000000000000000000000000;
  position: sticky;
  top: 100px; 
  padding: 70px;
  display: inline-block;

}

.ant-divider-inner-text {
    font-size: 25px;
}





